In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("darkgrid")
sns.set_palette("mako")

In [2]:
from utils import *
from train import *

2022-04-20 00:31:16.809924: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-04-20 00:31:16.809953: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [3]:
download_and_join_datasets()

The dataset doesn't exist. Downloading it...
Dataset successfully downloaded
Extracting the zip file...
The Dataset has been extracted!
Joining the datasets together...
Dataset Joined Successfully. Saving it...
Saved 'Cyberbully_dataset_combined.csv'. The dataset is also availabe on Kaggle: https://www.kaggle.com/datasets/prmethus/mendeleys-cyberbully-datasets-combined?select=Cyberbully_dataset_combined.csv

Dataset path: cyberbully_datasets/Cyberbully_dataset_combined.csv

In [12]:
df = pd.read_csv("cyberbully_datasets/Cyberbully_dataset_combined.csv")
df.head()

                                                Text  Offensive
0  RT @BeepsS: @senna1 @BeepsS: I'm not sexist bu...        1.0
1   There's some very hate able teams this year #MKR        0.0
2  RT @The_Eccles: "Everyone underestimated us" \...        0.0
3  RT @NOTLukeDarcy: did @Channel7 or #MKR actual...        0.0
4  No, you don't. @Shut_Up_Jeff: I thought of a r...        1.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448880 entries, 0 to 448879
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Text       448878 non-null  object
 1   Offensive  448874 non-null  float64
dtypes: float64(1), object(1)
memory usage: 6.8+ MB

In [14]:
df.describe()

           Offensive
count  448874.000000
mean        0.128435
std         0.334574
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [15]:
len(df)

448880

In [16]:
# Removing NaN values.
df.isna().sum()

Text         2
Offensive    6
dtype: int64

In [17]:
# The dataframe has very few missing values. So we can just drop them.
df = df.dropna()

In [18]:
train_set, validation_set, test_set = stratified_split(df)

In [21]:
# Creating a word tokenizer

from tensorflow.keras.preprocessing.text import Tokenizer

vocab_size = 10000

tokenizer = Tokenizer(num_words = vocab_size, oov_token="<UNK>")
tokenizer.fit_on_texts(train_set["Text"])

In [29]:
train_sequences = tokenize_and_pad(train_set["Text"], tk, maxlen=100, padding='post', truncating='post')
validation_sequences = tokenize_and_pad(validation_set["Text"], tk, maxlen=100, padding='post', truncating='post')
test_sequences = tokenize_and_pad(test_set["Text"], tk, maxlen=100, padding='post', truncating='post')

In [27]:
# Saving the Tokenizer

import joblib
if not os.path.exists("Tokenizer"):
    os.mkdir("Tokenizer")
joblib.dump(tokenizer, os.path.join("Tokenizer", "Tokenizer.pkl"))

['Tokenizer/Tokenizer.pkl']

In [ ]:
model, tuner = hyperparameter_tuning()