In [11]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("darkgrid")
sns.set_palette("mako")

In [12]:
from utils import download_and_join_datasets, stratified_split

In [13]:
download_and_join_datasets()

The Dataset already exists!

Dataset path: cyberbully_datasets/Cyberbully_dataset_combined.csv

In [14]:
df = pd.read_csv("cyberbully_datasets/Cyberbully_dataset_combined.csv")
df.head()

                                                Text  Offensive
0  RT @BeepsS: @senna1 @BeepsS: I'm not sexist bu...        1.0
1   There's some very hate able teams this year #MKR        0.0
2  RT @The_Eccles: "Everyone underestimated us" \...        0.0
3  RT @NOTLukeDarcy: did @Channel7 or #MKR actual...        0.0
4  No, you don't. @Shut_Up_Jeff: I thought of a r...        1.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448880 entries, 0 to 448879
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Text       448878 non-null  object
 1   Offensive  448874 non-null  float64
dtypes: float64(1), object(1)
memory usage: 6.8+ MB

In [16]:
df.describe()

           Offensive
count  448874.000000
mean        0.128435
std         0.334574
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [17]:
len(df)

448880

In [18]:
# Removing NaN values.
df.isna().sum()

Text         2
Offensive    6
dtype: int64

In [19]:
# The dataframe has very few missing values. So we can just drop them.
df = df.dropna()

In [20]:
train_set, validation_set, test_set = stratified_split(df)